.landing-page {
    margin: 4px;
    text-align: center;
}

.home {
    margin: 4px;
    display: flex;
    justify-content: space-around;
}

.form-group {
    margin: 6px;
    width: 300px;
}

.login {
    /* background-color: #294f6b; */
    height: 100vh;
}

.onbrandlogo {
    max-height: 84px;
    max-width: 204px;
}