* {
    font-family: 'Montserrat', sans-serif;
}

.user-info {
    display: flex;
    justify-content: space-around;
}

.form-box {
    background-color: #c4c4c4;
}

.product-card {
    text-decoration: none;
}